<section>
  <img class="img1" src=".\assets\6.png">
  <nav>
  <a routerLink="/participant/ajout" routerLinkActive="active">
    <img class="img2" src=".\assets\7.png">
  </a>
  </nav>
  <table class="tabPart">
    <tr id="liste">
      <th colspan="2" >
        Liste des participants
      </th>
    </tr>
    <tr *ngFor="let item of ParticipantList">
      <td colspan="1">
        {{item.nom}} , {{item.prenom}} , {{item.adresse}} , {{item.email}} , {{item.societe}} , {{item.poste}}
      </td>
      <td colspan="1">
        <img class="img3" src=".\assets\8.png">
        <img  class="img4" src=".\assets\9.png" (click)="supprimerParticipant(Participant)">
      </td>
    </tr>
  </table>
</section>

<section>
  <form class="formAjout" #participantForm="ngForm"
 (ngSubmit)="onSubmit(participantForm.value)">
  <fieldset >
    <legend><b>Ajouter un participant</b></legend>
    <label for="Nom">  Nom :</label>
    <input type="textfield" placeholder="Nom" class="txt" ngModel required id="nom">
    <label for="Prenom">  Prénom :</label>
    <input type="text" placeholder="Prénom" class="txt" ngModel required id="prenom">
    <label for="Adresse">  Adresse :</label>
    <input type="text" placeholder="Adresse" class="txt" ngModel required id="adresse">
    <label for="Email">E-mail :</label>
    <input type="text" placeholder="E-mail" class="txt" ngModel required id="email"><br><br>
    <label for="Societe"> Société :</label>
    <input type="text" placeholder="Société" class="txt" ngModel required id="societe">
    <label for="Poste">Poste :</label>
    <input type="text" placeholder="Poste" class="txt" ngModel required id="poste"><br>
    <input type="submit" value="Ajouter" class="btn1" [disabled]="!participantForm.form.valid" (click)="ajouter(Participant)">
    <input type="button" value="Annuler" class="btn2">

</fieldset>
</form>
</section>
