<section>
  <img class="img1" src=".\assets\6.png">
  <img class="img2" src=".\assets\7.png">

  <table class="tabPart">
    <tr id="liste">
      <th colspan="7" >
        Liste des participants
      </th>
    </tr>
    <tr>
      <td >Nom</td>
      <td >Prénom</td>
      <td >Adresse</td>
      <td >Email</td>
      <td >Société</td>
      <td >Poste</td>
      <td >
        <img class="img3" src=".\assets\8.png">
        <img  class="img4" src=".\assets\9.png" (click)="supprimerParticipant(Participant)">
      </td>

    </tr>

  </table>
  </section>
