<section class="session">
  <img src=".\assets\2.png">
  <span class="txt">Sessions</span>
</section>
<section class="participant">
  <img src=".\assets\1.png">
  <span class="txt">Participants</span>
</section>
<section class="formateur">
  <img src=".\assets\10.png">
  <span class="txt">Formateurs</span>
</section>
<section>
  <table class="tabSess">
    <tr id="liste">
      <td>
        Track
      </td>
      <td>
        Nombre de Sessions
      </td>
    </tr>
    <tr>
      <td>aa</td>
    </tr>
    <tr></tr>
    </table>
</section>

<section>
  <table class="tabFor">
    <tr id="liste">
      <td>
        Top Formateurs
      </td>
    </tr>
    <tr>

    </tr>
  </table>
</section>
