<div class="sec1">

  <img class="img1" src=".\assets\3.jpg">

  <p id="admin">Espace Admin</p>
  <p id="date">Date&Adresse</p>
  <img class="img2" src=".\assets\11.png">
  <img class="img3" src=".\assets\4.png">
  <input type="text" value="Chercher Session" class="chercherSession">

  <a routerLink="/dashboard" routerLinkActive="active">
    <button class="btn" id="btn1" value=" Dashboard">
      <img class="img" src=".\assets\5.png">
      <span id="txt">Dashboard</span>
    </button>
  </a>
  <a routerLink="/session" routerLinkActive="active">
    <button class="btn" id="btn2">
      <img class="img" src=".\assets\2.png">
      <span id="txt">Sessions</span>
    </button>
  </a>
  <a routerLink="/formateur" routerLinkActive="active">
    <button class="btn" id="btn3">
      <img class="img" src=".\assets\10.png">
      <span id="txt">Formateurs</span>
    </button>
  </a>
  <a routerLink="/participant" routerLinkActive="active">
    <button class="btn" id="btn4">
      <img class="img" src=".\assets\1.png">
      <span id="txt">Participants</span>
    </button>
  </a>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
